<hr />

<ul class="nodebb-plugin-asset-base">
{{#each assets}}
	<li>
		<a href="{{url}}"><img src="{{thumbnail}}" /></a>
		<h3><a href="{{url}}">{{title}}</a></h3>
		<p class="url"><a href="{{url}}">{{url}}</a></p>
		<div class="clear"></div>
	</li>
{{/each}}
</ul>